/*~~~~~~~~~~~~~~~~~~~~ BIG ONES ~~~~~~~~~~~~~~~~~~~~*/

html {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  background-color: #E7F1F1;
}

/*~~~~~~~~~~~~~~~~~~~~ WRAPS ~~~~~~~~~~~~~~~~~~~~*/

.hidden {
  display: none;
}

.section-divider {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;

  justify-content: center;
}

.page-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.saved-palettes-outer-wrap {
  border-left: 5px solid black;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
}

.boxes-wrap {
  display: inline-flex;
  justify-content: space-around;
  width: 80vw;
  height: 55vh;

}

.miniboxes-wrap {
  display: inline-flex;
  justify-content: space-around;
  width: 15vw;
  height: 10vh;

}

.box-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.buttons-wrap {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
}

/*~~~~~~~~~~~~~~~~~~~~ ACTUAL ELEMENTS ~~~~~~~~~~~~~~~~~~~~*/

h1 {
  font-size: 500%;
  font-weight: 950;
  font-family: "verdana", sans-serif;
}

.box {
  display: flex;
  width: 10em;
  height: 10em;
  border: 4px solid black;
  justify-content: space-evenly;
  font-family: "poppins", sans-serif;
  cursor: pointer;
}

.minibox {
  display: flex;
  width: 2.5em;
  height: 2.5em;
  border: 2px solid black;
  justify-content: space-evenly;
  font-family: "poppins", sans-serif;
  cursor: pointer;
}

h4 {
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-size: 140%;
}

.main-button {
  padding: 15;
  background-color: black;
  color: white;
  width: 30vmin;
  height: 15%;
  border-start-end-radius: 120px;
  border-end-start-radius: 120px;
  font-size: 150%;
  font-weight: 100;
  font-family: "poppins", sans-serif;
}

ul {
  list-style-type: none;
}

/*~~~~~~~~~~ INDIVIDUAL COLOR BOXES ~~~~~~~~~~*/

.color-box1 {
  background-color: #EA9999;
}

.color-box2 {
  background-color: #FACB9C;
}

.color-box3 {
  background-color: #FFE59A;
}

.color-box4 {
  background-color: #B6D7A8;
}

.color-box5 {
  background-color: #A4C4CA;
}

/*-------img------*/

img {
  width: 20%;
  height: 20%;
  margin: .3em;
}

.icon {
  display: flex;
  justify-content: flex-start;
  flex-direction: column-reverse;
  align-items: flex-end;
}

.mini-palette-delete {
  height: 35px;
}